{% extends 'Home/base.html'%}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Home/css/Home.css' %}"/>
{% endblock %}
{% block body %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner">
          <nav class="nav nav-masthead" id="nav-list">
            <h3 class="masthead-brand">Carator</h3>
             <a class="nav-link" href="">Blog</a>
             <a class="nav-link" href="">Contact Us</a>
          </nav>
        </div>
      </div>
      <div class="inner cover" id="cover">
         <h1 class="cover-heading">Welcome to Carator</h1>
         <h2 class="cover-heading">Your Accounting Professionals</p>
         <p class="lead cover-content">Carator specializes in a variety of accounting services with outstanding support. We understand how busy you are, and with our expertise we can take care of your accounting needs quickly and effectively. We are equipped to handle the books for you, leaving you to worry less and live more.</p>
         <p class="lead cover-content"><a href="" class="btn btn-lg btn-transparent btn-secondary">See Our Services</a></p>
      </div>
      <div class="mastfoot">
          <div class="inner cover-footer-text">
            <p>
              <a class="footer-icons" href="https://www.facebook.com/carator.in"><i class="fa fa-facebook fa-2x">Facebook</i></a>
              <a class="footer-icons" href="https://twitter.com/carator_in"><i class="fa fa-twitter fa-2x">Twitter</i></a>
              <a class="footer-icons" href="https://linkedin.com/comapny/carator-in"><i class="fa fa-twitter fa-2x">Linkedin</i></a>
            </p>
            <p>Maintained by: <a href="http://github.com/abhishekbvs">Abhishek Bvs</a> , <a href="http://amfoss.in/">FOSS@Amrita</a>.</p>
          </div>
      </div>
  </div>
</div>

{% endblock %}
